pipeline/pl_ingest_formula_one_data.json
{
	"name": "pl_ingest_formula_one_data",
	"properties": {
		"activities": [
			{
				"name": "ingest circuit file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/1.ingest_circuits_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest races file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/2.ingest_races_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest constructor file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/3.ingest_constructors_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest driver file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/4.ingest_drivers_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest results file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/5.ingest_results_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest pit stops file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/6.ingest_pit_stops_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest lap times",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/7.ingest_lap_times_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingest qualifying file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/formula1/ingestion/8.ingest_qualifying_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_project",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_formulaone_raw",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": []
	}
}